body{
    background-image: url(resources/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.nav_bar{
    position: absolute;
    top: 2%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 100%;
}

ul li{
    align-items: center;
    display: inline;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif; 
    font-size: 4vh;
    font-weight: 800;
}

a{
    display: inline-block;
    width: 25%;
    padding: auto;
    margin: 40px 0;
    text-decoration: none;
    color: #333;
}

hr{
    height: 80px;
    width: 25%;
    margin: -95px 0;
    background: linear-gradient(to right,#edf2ac7b 0%,#f7a4c36b 100%);
    border: none;
    border-radius: 50px;
    transition: .5s ease-in-out;
    margin-left: 50%;
}

.one:hover ~ hr{
    margin-left: 0%;
}
.two:hover ~ hr{
    margin-left: 25%;
}

/*
-----------------------------------------------------
*/

.myjourney{
    margin-top: 10%;
}

.myjourney h1{
    font-family: "Pixelify Sans", sans-serif; 
    font-size: 5vw;
    margin-bottom: 0;
    margin-left: 17%;
}

.myjourney h2{
    margin-top: 0;
    font-family: "Pixelify Sans", sans-serif; 
    font-size: 3vw;
    margin-left: 17%;
}

.myjourney p{
    font-family: "Kanit", sans-serif;
    margin-top: 0;
    font-size: 2vw;
    margin-left: 17%;
    margin-right: 5%;
}

.first , .second{  
    background-color: rgba(255, 255, 255, 0.429);
    margin-left: 1%;
    margin-right: 3%;
    padding: 1%;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 19px -1px rgba(0, 0, 0, 0.324); 
    box-shadow: 8px 8px 19px -1px rgba(0, 0, 0, 0.279);
    margin-bottom: 0%;

}

.arrow{
    margin-top: 0;
    width: 20%;
    margin-left: 40%;
}

.school1 {
    float: left;
    height: auto;
    width: 15%;
}

.school2{
    float: left;
    width: 15%;
}